	<section id="emphasis-instructions" class="collapsible">
		<h4  data-config data-instructions="click to toggle instruction" onClick="_gaq.push(['_trackEvent', 'Interaction', 'open emphasis intructions']);">Deep-linking and highlighting</h4>
		<div>
			<p>Try tapping the <kbd>Shift</kbd> key twice. Paragraph symbols (&para;) should appear next to each paragraph in the text above. Click that symbol to get a link to that individual paragraph and click the sentences within it to <span class="emHighlight">highlight text</span>. You can now copy the URL (web address) from your address bar to use and share these links, and others will be able to see which sections you have highlighted. For example we've used these links extensively in the <a href="{{ site.baseurl }}/part-2/key-findings" title="The list of key fingins from Sceptical Climate Part 2 with links to more information within the report.">Key Findings for Part 2</a> to connect the summaries with the details within the report findings.</p>
			<p class="supporting">Made possible with the <a href="https://github.com/NYTimes/Emphasis" title="Dynamic Deep-Linking and Highlighting tool by NY Times, on Github.">New York Times&rsquo; tool Emphasis.</a></p>
		</div>
	</section>
