<!-- Footer OPEN -->

<footer class="site-footer">
    <article role="contentinfo" class="supporting">
        <section class="credits" id="credits">
            <p>
              The <a href="{{ site.baseurl }}" title="Sceptical Climate, a report on the Australian media's coverage of climate change.">Sceptical Climate Report</a> is a project by Wendy Bacon. Parts 1 and 2 were supported by The Australian Centre for Independent Journalism. The third installment, <em>Lies, Debates and Silences</em> was funded by GetUp!. The research itself is independent.
            </p>
            {% if include.report_number == "Part 1" %}
                <p>This research project was conducted with support from the <a href="http://www.acfonline.org.au" title="The Australian Conservation Foundation website">Australian Conservation Foundation</a>.</p>
            {% endif %}
            <ul>
                <li>Project Director and Report Author: <a href="http://wendybacon.com" class="author" itemprop="author">Wendy Bacon</a></li>
                <li>Project and Research Manager: Arunn&nbsp;Jegan</li>
                <li>Design and web development: <a href="http://collagraph.com.au" title="Collagraph: clear design for the web." onClick="_gaq.push(['_trackEvent', 'Out Bound', 'out to Collagraph']);">Collagraph</a></li>
            </ul>
        </section>
        <section>
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" class="license-viz"><img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="Creative Commons License"></a>
            <p>The content of this site is available for your use under a creative commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)</a> license, unless specifically noted. Feel free to quote, republish, backup, and move it to whatever platform works&nbsp;for&nbsp;you.</p>
        </section>
    </article>
</footer>

<!-- Footer CLOSE -->
