<!-- Footer OPEN -->

<footer class="site-footer">
    <article role="contentinfo" class="supporting">
        <section class="credits" id="credits">
            <p>
              The <a href="{{ site.baseurl }}" title="Sceptical Climate, a report on the Australian media's coverage of climate change.">Sceptical Climate</a> is a project begun in 2011 by Wendy Bacon. Parts 1 and 2, authored by Wendy Bacon, were supported by The Australian Centre for Independent Journalism. Part 3, <em>Lies, Debates, and Silences</em>, is authored by Wendy Bacon and Arunn Jegan and commissioned by GetUp!. The research itself is independent.
            </p>
            {% if include.report_number == "Part 1" %}
                <p>Research for Part 1 was conducted with support from the <a href="http://www.acfonline.org.au" title="The Australian Conservation Foundation website">Australian Conservation Foundation</a>.</p>
            {% endif %}
            <p>View credits for:</p>
            <ul>
                <li><a href="{{ site.baseurl }}/part-1/credits/">Part 1</a></li>
                <li><a href="{{ site.baseurl }}/part-2/credits/">Part 2</a></li>
                <li><a href="{{ site.baseurl }}/part-3/credits/">Part 3</a></li>
            </ul>
            <p>Design and web development: <a href="http://collagraph.com.au" title="Collagraph: clear design for the web." onClick="_gaq.push(['_trackEvent', 'Out Bound', 'out to Collagraph']);">Collagraph</a></p>
        </section>
        <section>
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" class="license-viz"><img src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="Creative Commons License"></a>
            <p>The content of this site is available for your use under a creative commons <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)</a> license, unless specifically noted. Feel free to quote, republish, backup, and move it to whatever platform works&nbsp;for&nbsp;you.</p>
        </section>
    </article>
</footer>

<!-- Footer CLOSE -->
