<?php

// Functions OPEN

$site_url = 'http://sceptical-climate.dev';

$github_url = 'https://github.com/equivalentideas/sceptical-climate/blob/Development';

$raw_github_url = 'https://raw.github.com/equivalentideas/sceptical-climate/Development';

$site_description = 'A report on media coverage of climate change in Australia from the Australian Centre for Independent Journalism';

$report_title = 'Sceptical Climate';

$report_one_name = 'Part 1';
$report_one_desc = '';
$report_one_slug = '/' . 'part-1' . '/';
$report_one_img_url = $site_url . '/' . 'images/sceptical-climate-part-1.jpg';

$title_11	=	'1 Preface';
$descr_11	=	'';
$slug_11	=	$site_url . $report_one_slug . 'preface';
$short_slug_11 = 'preface';

$title_12  =   '2 Key Findings';
$descr_12  =   '';
$slug_12   =   $site_url . $report_one_slug . 'key-findings';
$short_slug_12 = 'key-findings';

$title_13	=	'3 Introduction';
$descr_13	=	'';
$slug_13	=	$site_url . $report_one_slug . 'introduction';
$short_slug_13 = 'introduction';

$title_14  =   '4 Findings';
$descr_14  =   '';
$slug_14   =   $site_url . $report_one_slug . 'findings';
$short_slug_14 = 'findings';

    $title_141    =   '4.1 Research design, methodology';
    $descr_141    =   '';
    $slug_141 =   $site_url . $report_one_slug .'findings/research-design-methodology';
    $short_slug_141 = 'findings/research-design-methodology';

    $title_142    =   '4.2 Number of articles';
    $descr_142    =   '';
    $slug_142 =   $site_url . $report_one_slug .'findings/number-of-articles';
    $short_slug_142 = 'findings/number-of-articles';

    $title_143    =   '4.3 Genre';
    $descr_143    =   '';
    $slug_143 =   $site_url . $report_one_slug .'findings/genre';
    $short_slug_143 = 'findings/genre';

    $title_144    =   '4.4 Headline stance';
    $descr_144    =   '';
    $slug_144 =   $site_url . $report_one_slug .'findings/headline-stance';
    $short_slug_144 = 'findings/headline-stance';

    $title_145    =   '4.5 Content of articles: Stance towards the 2011 Carbon Reduction Policy';
    $descr_145    =   '';
    $slug_145 =   $site_url . $report_one_slug .'findings/content-of-articles';
    $short_slug_145 = 'findings/content-of-articles';

    $title_146    =   '4.6 Carbon Tax or Carbon Policy? Defining the debate';
    $descr_146    =   '';
    $slug_146 =   $site_url . $report_one_slug .'findings/defining-the-debate';
    $short_slug_146 = 'findings/defining-the-debate';

    $title_147    =   '4.7 Dominant themes in coverage';
    $descr_147    =   '';
    $slug_147 =   $site_url . $report_one_slug .'findings/dominant-themes-in-coverage';
    $short_slug_147 = 'findings/dominant-themes-in-coverage';

    $title_148    =   '4.8 Sources quoted';
    $descr_148    =   '';
    $slug_148 =   $site_url . $report_one_slug .'findings/sources-quoted';
    $short_slug_148 = 'findings/sources-quoted';

    $title_149    =   '4.9 Editorials';
    $descr_149    =   '';
    $slug_149 =   $site_url . $report_one_slug .'findings/editorials';
    $short_slug_149 = 'findings/editorials';

    $title_1410    =   '4.10 Opinion';
    $descr_1410    =   'Description of 4.10 Opinion';
    $slug_1410 =   $site_url . $report_one_slug .'findings/opinion';
    $short_slug_1410 = 'findings/opinion';

$title_15  =   '5 Discussion and conclusions';
$descr_15  =   '';
$slug_15   =   $site_url . $report_one_slug . 'discussion-and-conclusions';

$title_16  =   'Bibliography';
$descr_16  =   '';
$slug_16   =   $site_url . $report_one_slug . 'bibliography';

$title_17  =   'Appendix 1: List of figures';
$descr_17  =   '';
$slug_17   =   $site_url . $report_one_slug . 'appendix';

$title_18  =   'Project credits';
$descr_18  =   '';
$slug_18   =   $site_url . $report_one_slug . 'credits';

$report_two_name = 'Part 2';
$report_two_desc = '';
$report_two_slug = '/' . 'part-2' . '/';
$report_two_img_url = $site_url . '/' . 'images/sceptical-climate-part-2.jpg';

    $title_242	=	'4.2 Quantity of climate science coverage';
    $descr_242	=	'';
    $slug_242	=	$site_url . $report_two_slug .'findings/quantity-of-climate-science-coverage';
    $short_slug_242 = 'findings/quantity-of-climate-science-coverage';

// Functions CLOSE

?>