<!-- Header OPEN -->
<header class="site-header" role="banner">
<h1>
  <a href="/" class="report-title">{{ site.title }}</a>
  <a href="/{{ site.baseurl }}{{ include.report_number_path }}" class="report-number" title="">
    {{ include.report_number }}{% if include.report_number == "Part 1" %}: Climate Change Policy{% elsif include.report_number == "Part 2" %}: Climate Science in Australian Newspapers{% endif %}
  </a>
</h1>
<p class="tag-line supporting">
  {% if include.report_number == "Lies, Debates and Silences" %}
    {{ site.part-3.description }}
  {% else %}
    {{ site.description }}
  {% endif %}
</p>
	<a class="nav-link scroll supporting" href="#toc">Table of Contents</a>
</header>
<!-- Header CLOSE -->
