<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"><!--<![endif]-->

    <head id="sceptical-climate">

        <meta charset="UTF-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
        <!--[if IE ]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

        <title>{{ page.title }}{% if page.layout != "home" %} | {{ site.title }} : {{ include.report_number }}{% endif %}</title>

        <meta name="author" content="{{ site.name }}" />
        <meta name="title" content="{{ page.title }}{% if page.layout != "home" %} | {{ site.title }} : {{ include.report_number }}{% endif %}" />
        {% if page.description %}<meta name="description" content="{{ page.description }}" />{% else %}<meta name="description" content="{{ site.description }}" />{% endif %}
        <meta name="copyright" content="Copyright &copy; The Australian Centre for Independent Journalism 2012. Available for your use under a creative commons Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0) license.">

        <!-- Mobile viewport fix -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Robots -->
        <meta name="robots" content="follow,index">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{{ page.title }}{% if page.layout != "home" %} | {{ site.title }} : {{ include.report_number }}{% endif %}">
        {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
        <meta name="twitter:creator" content="{{ site.creator }}">
        {% if include.report_number == "Part 1" %}<meta name="twitter:image:src" content="{{ site.url }}/images/social-part-1.jpg">{% else %}<meta name="twitter:image:src" content="{{ site.url }}/images/social-part-2.jpg">{% endif %}
        <meta name="twitter:domain" content="{{ site.url }}{{ page.url }}">

        <!-- Facebook -->
        <meta property="og:type" content="article">
        <meta property="og:url"	content="{{ site.url }}{{ page.url }}">
        <meta property="og:site_name" content="{{ page.title }}{% if page.layout != "home" %} | {{ site.title }} : {{ include.report_number }}{% endif %}">
        {% if include.report_number == "Part 1" %}<meta property="og:image" content="{{ site.url }}/images/social-part-1.jpg">{% else %}<meta property="og:image" content="{{ site.url }}/images/social-part-2.jpg">{% endif %}
        <meta property="og:title" content="{{ page.title }}">
        {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% else %}<meta property="og:description" content="{{ site.description }}">{% endif %}
        <meta property="article:author" content="{{ site.name }}">
        <meta property="article:tag" content="{{ site.keywords }}">

        <!--[if lt IE 9]>
        <script src="{{ site.url }}/js/html5shiv.min.js"></script>
        <![endif]-->
        <!-- tell iphones not to interpret numbers as phone numbers -->
		<meta name="format-detection" content="telephone=no">

    	<script src="{{ site.url }}/js/modernizr.min.js"></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" media="screen" />

        <!-- jQuery -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js?ver=3.5.2"></script>

	</head>

    <body class="{{ include.report_number_path }}">
