
        <!-- Include respond.js for < IE 9 -->
        <!--[if lt IE 9]>
            <script src="{{ site.url }}/js/respond.min.js"></script>
            <script src="{{ site.url }}/js/html5shiv.min.js"></script>
        <![endif]-->

        <script src="{{ site.url }}/js/site.min.js"></script>

		<script>
            var _gaq=[['_setAccount','UA-36469193-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>

</html>