<!-- Newsletter sign-up START -->

<form action="http://investigate.us7.list-manage1.com/subscribe/post?u=cf3ca7f46848c91ca25d39eb8&amp;id=e6f5641d67" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="module newsletter-form">
	<h2>A project by the Australian Centre for Independent&nbsp;Journalism</h2>
    <p>The Sceptical Climate Report is a project by The Australian Centre for Independent Journalism, a critical voice on media politics, media policy, and the practice and theory of journalism. Follow <a href="https://twitter.com/UTSACIJ" title="The Australian Centre for Independent Journalism on Twitter">@UTSACIJ on Twitter</a>, and like the <a href="https://www.facebook.com/acijuts" title="The Australian Centre for Independent Journalism Facebook page">Facebook page</a>.
	<label for="mce-EMAIL" class="supporting">Join the ACIJ mailing list for updates on projects like this one, forums, short courses and other important information.</label>
    <input type="email" placeholder="Email address" id="mce-EMAIL" name="EMAIL" required />
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
</form>

<!-- Newsletter sign-up CLOSE -->
