<!-- Social OPEN -->
<section class="social module">
	<ul class="socialcount" data-url="http://www.investigate.org.au/projects/sceptical-climate" data-counts="true" data-share-text="Google is a search engine">
		<li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.investigate.org.au/projects/sceptical-climate" title="Share on Facebook"><span class="count">Like</span></a></li>
		<li class="twitter"><a href="https://twitter.com/intent/tweet?text=http://www.investigate.org.au/projects/sceptical-climate" title="Share on Twitter"><span class="count">Tweet</span></a></li>
		<li class="googleplus"><a href="https://plus.google.com/share?url=http://www.investigate.org.au/projects/sceptical-climate" title="Share on Google Plus"><span class="count">+1</span></a></li>
	</ul>
</section>
<!-- Social CLOSE -->
